.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
._clearfix:after {
  clear: both;
  content: " ";
  display: block;
}
._no-boxshadow {
  box-shadow: none !important;
}
._nobr {
  white-space: nowrap;
}
._hidetext {
  background-color: transparent !important;
  border: 0 !important;
  color: transparent !important;
  font: 0/0 a !important;
  text-shadow: none !important;
}
@media (max-width: 667px) {
  ._hide-for-mobile {
    display: none !important;
  }
}
.mobile ._hide-for-mobile {
  display: none !important;
}
@media screen and (min-width: 351px) {
  .mob-sm-show {
    display: none !important;
  }
}
@media screen and (max-width: 350px) {
  .mob-sm-hide {
    display: none !important;
  }
}
._sr-only {
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
._sr-only-focusable:active,
._sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
@font-face {
  font-family: TiemposHeadlineWeb-Bold;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/TiemposHeadlineWeb-Bold.eot);
  src: url(../fonts/TiemposHeadlineWeb-Bold.eot#iefix)
      format("embedded-opentype"),
    url(../fonts/TiemposHeadlineWeb-Bold.woff2)
      format("woff2"),
    url(../fonts/TiemposHeadlineWeb-Bold.woff) format("woff");
}
@font-face {
  font-family: TiemposHeadlineWeb-Bold;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/TiemposHeadlineWeb-BoldItalic.eot);
  src: url(../fonts/TiemposHeadlineWeb-BoldItalic.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/TiemposHeadlineWeb-BoldItalic.woff2)
      format("woff2"),
    url(../fonts/TiemposHeadlineWeb-BoldItalic.woff)
      format("woff");
}
@font-face {
  font-family: TiemposTextWeb-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/TiemposTextWeb-Regular.eot);
  src: url(../fonts/TiemposTextWeb-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/TiemposTextWeb-Regular.woff2) format("woff2"),
    url(../fonts/TiemposTextWeb-Regular.woff) format("woff");
}
@font-face {
  font-family: TiemposTextWeb-Regular;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/TiemposTextWeb-RegularItalic.eot);
  src: url(../fonts/TiemposTextWeb-RegularItalic.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/TiemposTextWeb-RegularItalic.woff2)
      format("woff2"),
    url(../fonts/TiemposTextWeb-RegularItalic.woff)
      format("woff");
}
@font-face {
  font-family: TiemposTextWeb-Semibold;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/TiemposTextWeb-Semibold.eot);
  src: url(../fonts/TiemposTextWeb-Semibold.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/TiemposTextWeb-Semibold.woff2)
      format("woff2"),
    url(../fonts/TiemposTextWeb-Semibold.woff) format("woff");
}
@font-face {
  font-family: TiemposTextWeb-Semibold;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/TiemposTextWeb-SemiboldItalic.eot);
  src: url(../fonts/TiemposTextWeb-SemiboldItalic.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/TiemposTextWeb-SemiboldItalic.woff2)
      format("woff2"),
    url(../fonts/TiemposTextWeb-SemiboldItalic.woff)
      format("woff");
}
@font-face {
  font-family: Graphik-Light-Web;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Graphik-Light-Web.eot);
  src: url(../fonts/Graphik-Light-Web.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/Graphik-Light-Web.woff) format("woff");
}
@font-face {
  font-family: Graphik-Regular-Web;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Graphik-Regular-Web.eot);
  src: url(../fonts/Graphik-Regular-Web.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/Graphik-Regular-Web.woff) format("woff");
}
@font-face {
  font-family: Graphik-Regular-Web;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Graphik-RegularItalic-Web.eot);
  src: url(../fonts/Graphik-RegularItalic-Web.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/Graphik-RegularItalic-Web.woff)
      format("woff");
}
@font-face {
  font-family: Graphik-Semibold-Web;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Graphik-Semibold-Web.eot);
  src: url(../fonts/Graphik-Semibold-Web.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/Graphik-Semibold-Web.woff) format("woff");
}
@font-face {
  font-family: Graphik-Semibold-Web;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Graphik-SemiboldItalic-Web.eot);
  src: url(../fonts/Graphik-SemiboldItalic-Web.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/Graphik-SemiboldItalic-Web.woff)
      format("woff");
}
@font-face {
  font-family: Graphik-Bold-Web;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Graphik-Bold-Web.eot);
  src: url(../fonts/Graphik-Bold-Web.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/Graphik-Bold-Web.woff) format("woff");
}
@font-face {
  font-family: Graphik-Bold-Web;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Graphik-BoldItalic-Web.woff2)
      format("woff2"),
    url(../fonts/Graphik-BoldItalic-Web.woff) format("woff");
}
@font-face {
  font-family: Graphik-Black-Web;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Graphik-Black-Web.woff2) format("woff2"),
    url(../fonts/Graphik-Black-Web.woff) format("woff");
}
@font-face {
  font-family: Graphik-Black-Web;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Graphik-BlackItalic-Web.woff2)
      format("woff2"),
    url(../fonts/Graphik-BlackItalic-Web.woff) format("woff");
}
@font-face {
  font-family: PitchSansWeb-Medium;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/PitchSansWeb-Medium.eot);
  src: url(../fonts/PitchSansWeb-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/PitchSansWeb-Medium.woff) format("woff");
}
@font-face {
  font-family: PitchSansWeb-MediumItalic;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/PitchSansWeb-MediumItalic.eot);
  src: url(../fonts/PitchSansWeb-MediumItalic.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/PitchSansWeb-MediumItalic.woff)
      format("woff");
}
/* .main-nav > .navitems{
  margin-right: 30px;
} */

.main-nav > .navitems > .navitem {
  display: block;
  float: left;
  font-size: 1rem;
  letter-spacing: 0.07692308em;
  line-height: 17px;
  margin-left: 15px;

  text-transform: uppercase;
}
.main-nav > .navitems > .navitem:first-child {
  margin-left: 0;
}
.main-nav > .navitems > .navitem.-selected > .navlink {
  color: #fff;
}
.main-nav > .navitems > .navitem > .navlink,
.main-nav > .navitems > .navitem > .toggle-menu {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9ab;
  display: block;
  font-family: Graphik-Semibold-Web, sans-serif;
  font-weight: 400;
  padding-top: 6px;
  text-decoration: none;
  -webkit-transition-duration: 200;
  -webkit-transition-property: color;
}
.backdropped .main-nav > .navitems > .navitem > .navlink,
.backdropped .main-nav > .navitems > .navitem > .toggle-menu {
  color: #d8e0e8;
}
.main-nav > .navitems > .navitem > .navlink:active,
.main-nav > .navitems > .navitem > .navlink:hover,
.main-nav > .navitems > .navitem > .toggle-menu:active,
.main-nav > .navitems > .navitem > .toggle-menu:hover {
  color: #fff;
}
.main-nav > .navitems > .navitem > .toggle-menu {
  color: #9ab;
  max-width: 156px;
  overflow: hidden;
  padding-bottom: 4px;
  padding-left: 30px;
  padding-right: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.no-mobile .backdropped .main-nav > .navitems > .navitem > .toggle-menu {
  color: #d8e0e8;
}
.main-nav > .navitems > .navitem > .toggle-menu:active,
.main-nav > .navitems > .navitem > .toggle-menu:hover {
  color: #fff !important;
}
.main-nav > .navitems > .navitem.-search a {
  background-position: -180px -210px;
  height: 24px;
  margin-top: 2px;
  padding: 0;
  width: 24px;
}
.backdropped .main-nav > .navitems > .navitem.-search a {
  background-position: -180px -150px;
}
.has-no-touch .main-nav > .navitems > .navitem.-search a:hover {
  background-position: -180px -180px;
}
.site-header.-searchopen .main-nav > .navitems > .navitem.-search a {
  background: none;
  opacity: 0.6;
  position: relative;
}
.site-header.-searchopen .main-nav > .navitems > .navitem.-search a:after,
.site-header.-searchopen .main-nav > .navitems > .navitem.-search a:before {
  background: #9ab;
  border-radius: 1px;
  content: "";
  display: block;
  height: 18px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 2px;
}
.site-header.-searchopen .main-nav > .navitems > .navitem.-search a:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.site-header.-searchopen .main-nav > .navitems > .navitem.-search a:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.site-header.-searchopen .main-nav > .navitems > .navitem.-search a:hover {
  opacity: 1;
}
.site-header.-searchopen .main-nav > .navitems > .navitem.-search a:hover:after,
.site-header.-searchopen
  .main-nav
  > .navitems
  > .navitem.-search
  a:hover:before {
  background: #fff;
}
.main-nav > .navitems > .navitem.main-nav-activity .icon {
  background: url(../img/sprite.d305a741.svg) no-repeat;
  background-position: -210px -210px;
  background-size: 800px 1000px;
  height: 20px;
  left: auto;
  margin-right: 1px;
  position: relative;
  top: -2px;
  width: 13px;
}
.main-nav > .navitems > .navitem.main-nav-activity .icon:before {
  bottom: -4px;
  content: "";
  display: block;
  left: -6px;
  position: absolute;
  right: -6px;
  top: -4px;
}
.backdropped .main-nav > .navitems > .navitem.main-nav-activity .icon {
  background-position: -210px -150px;
}
.main-nav > .navitems > .navitem.main-nav-activity .label {
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.has-no-touch .main-nav > .navitems > .navitem.main-nav-activity a:focus .icon,
.has-no-touch .main-nav > .navitems > .navitem.main-nav-activity a:hover .icon,
.has-no-touch
  .main-nav
  > .navitems
  > .navitem.main-nav-activity.-selected
  .icon {
  background-position: -210px -180px;
}
.main-nav > .navitems > .nav-account .icon {
  background-position: -160px -150px;
  height: 10px;
  left: auto;
  right: 0;
  top: 10px;
  width: 10px;
}
.main-nav > .navitems > .nav-account .avatar {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  float: none;
  left: 0;
  position: absolute;
  top: 2px;
}
.main-nav > .navitems > .nav-account .avatar span {
  border-color: none;
}
.main-nav > .navitems > .nav-account .subnav {
  background: #89a;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.35), 0 0 10px #000;
  display: none;
  left: -10px;
  min-width: 100px;
  padding-bottom: 5px;
  position: absolute;
  top: -3px;
  z-index: 10000;
}
.main-nav > .navitems > .nav-account .subnav li {
  font-size: 12px;
  margin: 0;
}
.main-nav > .navitems > .nav-account .subnav li a {
  border: none;
  color: #2c3440;
  display: block;
  padding: 4px 15px;
  text-shadow: hsla(0, 0%, 100%, 0.1) 0 1px 0;
}
.main-nav > .navitems > .nav-account .subnav li a:hover {
  background: #678;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.05) 0 1px 0;
}
.main-nav > .navitems > .nav-account .subnav li a:active {
  background-color: #607080;
}
.main-nav > .navitems > .nav-account .subnav a.toggle-menu,
.main-nav > .navitems > .nav-account .subnav a.toggle-menu:hover {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
  color: #cde;
  display: block;
  font-family: Graphik-Semibold-Web, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.07692308em;
  line-height: 17px;
  margin-left: 10px;
  padding: 9px 23px 10px 30px;
  text-shadow: none;
  text-transform: uppercase;
}
.main-nav > .navitems > .nav-account .subnav li {
  clear: both;
  float: none;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}
.main-nav > .navitems > .nav-account .subnav li a.toggle-menu,
.main-nav > .navitems > .nav-account .subnav li a.toggle-menu:hover {
  color: #fff !important;
  float: left;
  margin-left: 10px;
}
.main-nav > .navitems > .nav-account .subnav .icon {
  background-position: -160px -170px;
  top: 13px;
}
.main-nav > .navitems > .nav-account .subnav .avatar {
  top: 5px;
}
.main-nav > .navitems > .nav-account .subnav .toggle-menu {
  padding-right: 23px;
}
.main-nav > .navitems > .nav-account .subnav .toggle-menu .icon {
  right: 10px;
}
.main-nav > .navitems > .nav-account .subnav a {
  border-color: #89a;
}
.main-nav > .navitems > .nav-account .subnav .divider {
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  padding-top: 5px;
}
.backdropped .site-header .search-form .field {
  background-color: hsla(0, 0%, 100%, 0.25);
  box-shadow: none;
  transition: background-color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.backdropped .site-header .search-form .field:focus {
  background-color: #fff;
}
.backdropped .site-header .search-form .field:focus + .action {
  background-position: -100px -170px;
}
.backdropped .site-header .search-form .action {
  background-position: -100px -140px;
}
.backdropped .site-header:hover .search-form .field {
  background-color: hsla(0, 0%, 100%, 0.8);
}
.backdropped .site-header:hover .search-form .field + .action {
  background-position: -100px -170px;
}
.backdropped .site-header:hover .search-form .field:focus {
  background-color: #fff;
}
.signin-form > .fieldset {
  height: 72px;
}
.signin-form .fields > .col {
  margin-right: 10px;
}
.signin-form .fields > .col:last-child {
  margin-right: 0;
}
.signin-form .buttons,
.signin-form .signin-actions {
  padding-top: 17px;
}
.signin-form .signin-actions .option-label {
  margin-top: 6px;
}
.signin-form .signin-actions .reset {
  left: 0;
  padding-right: 10px;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
}
